<!DOCTYPE html>
<md-toolbar>
    <div class="md-toolbar-tools">
        <span hide-xs style="margin-right: 32px;">Timeline</span>

        <md-button class="md-raised md-primary md-hue-2" ng-class="{'md-icon-button':!$root.$mdMedia('gt-xs')}">
            <md-icon md-svg-icon="calendar"></md-icon>
            <span hide-xs>Today</span>
        </md-button>

        <md-button class="md-raised md-primary md-hue-2" ng-class="{'md-icon-button':!$root.$mdMedia('gt-xs')}">
            <md-icon md-svg-icon="calendar-search"></md-icon>
            <span hide-xs>Goto</span>
        </md-button>

        <md-button class="md-raised md-primary md-hue-2" ng-class="{'md-icon-button':!$root.$mdMedia('gt-xs')}">
            <md-icon md-svg-icon="filter-variant"></md-icon>
            <span hide-xs>Filter</span>
        </md-button>
    </div>
</md-toolbar>