<!DOCTYPE html>

<h1>Default page for routing</h1>

<!-- TODO replace samples with your application -->
<div layout="column" style="max-width: 620px; min-width: 620px">

    <div layout="row" layout-align="start center">

        <span class="md-headline">Routes:</span>

        <md-button ng-repeat="route in $ctrl.routes()" ng-click="$ctrl.gotoRoute(route)">
            {{route.name}}
        </md-button>

    </div>

    <color-sample></color-sample>

    <moment-sample></moment-sample>
</div>